<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="'viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    	
    	<title>WesCourse</title>

    	<link rel="stylesheet" type="text/css" href="/css/catalog.css">

    	<!-- Bootstrap CSS -->
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    	<!-- Font Awesome -->
    	<script src="https://use.fontawesome.com/b6a42b064c.js"></script>

    	<!-- Google Fonts -->
    	<link href="https://fonts.googleapis.com/css?family=Bree+Serif|Anton|Cormorant+Garamond|Indie+Flower|Merriweather|Ubuntu|Josefin+Sans" rel="stylesheet">

    	<!-- Semantic UI CSS -->
    	<link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">

		
	</head>
	<body>
		
		<!-- NavBar -->
    	<nav class="navbar navbar-toggleable-md navbar-light navbar-inverse bg-inverse fixed-top">
		  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarContents" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
          <div>
		  <a class="navbar-brand" href="http://www.wesleyan.edu/">
		  		<p id="wes">Wesleyan</p>
		  		<p id="uni">University</p>
		  </a>
          </div>

		  <div class="collapse navbar-collapse" id="navbarContents">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item">
		        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/catalog">Catalog</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/about">About</a>
		      </li>
              <li class="nav-item">
                <a class="nav-link" href="/search">Search</a>
              </li>
		    </ul>
            <ul class="navbar-nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">LogOut</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/createUser">Create An Account</a>
                </li>
            </ul>

		  </div>
		</nav>

		<!-- Header -->
		<h1 class="catalog-header">Catalog</h1>

		<!-- Field Containers -->
		<div class="container">
			<div class="jumbotron jumbotron-fluid"></div>	
		</div>
		





		





		<!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

		<!-- Semantics UI JavaScript -->
		<script src="/semantic/dist/semantic.min.js"></script>	    

    	<!-- Bootstrap 4 JavaScript -->
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

		<!-- Event Hanlders -->
		<script>
			
            //Catalog 
            function templateRender(data) {
                let template = '<div class="categories" style="border-radius: 0px;text-align: center;">';
                let keys = Object.keys(data);
                let tmp;
                for (let i = 0; i < keys.length; ++i) {
                    template +=`<button style="border-radius: 0px;" class="btn" type="button" data-toggle="collapse" data-target="#collapse${i}" aria-expanded="false" aria-controls="collapse${i}">
                                    ${keys[i]}
                                </button>`;
                }
                template += '</div>';

                for (let j = 0; j < keys.length; ++j) {
                    data[keys[j]].forEach(function(name,index) {
                        if (index === 0) {
                            template += `<div style="border-radius: 0px;" class="collapse" id="collapse${j}">
                                            <div class="card card-block" style="background: white;">
                                            <div style="color: black; margin-bottom: 30px;">
                                                <i style="color: rgba(41, 43, 44, 1);" class="fa fa-book fa-3x" aria-hidden="false"></i>
                                                <h1 style="display: inline-block;" class="category-names">${keys[j]}</h1>
                                            </div>
                                                <div class=row>`;
                        };

                        if (index%10 === 0) {
                            template += `<div class=col-4>`;
                            tmp = index+9;
                        };

                        template += `<div class="row">
                                        <i style="padding-top: 4px;margin-right: 1%;color: rgba(153,0,0,1);" class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                                        <a style='color: black;display: inline-block;' href='/catalog/${name}'><strong>${name}</strong></a>
                                    </div>`;

                        if (index === tmp) {
                            template += `</div>`;
                        }

                        if (index === data[keys[j]].length-1) {
                            if (index < tmp) {
                                template += `</div>
                                    </div>
                                </div>
                            </div>`
                            } else {
                                template += `</div>
                                        </div>
                                    </div>`
                            
                            };
                        }
                    });
                }
                    
                return template;
            };


            // Catalog Trigger Event Listener
            // console.log(typeof <%- JSON.stringify(data) %>);
            $(document).ready(function(e) {
            	contQuery = $('.jumbotron');
                if (contQuery.html() !== '') return;
                data = <%- JSON.stringify(data) %>;
                template = templateRender(data);
                contQuery.append(template);
                

                buttonsQuery = $('button[data-toggle="collapse"]');

                buttonsQuery.each(function (i,elem) {
                    // $(`button[data-target="#collapse${i}"]`).attr('class','btn btn-outline-danger');
                    $(`button[data-target="#collapse${i}"]`).css('background','white !important');
                    $(`button[data-target="#collapse${i}"]`).css('border','1px solid white');
                });

                // buttonsQuery.dblclick(function (e) {

                // })
                // let buttonClicked = false;
                // if (!buttonClicked) {
                	// buttonClicked = true;
                	buttonsQuery.on('click' ,function (e) {
	                    e.preventDefault();

	                 	// buttonsQuery.attr('pointer-events','none');
	                 	// setTimeout(function() {buttonsQuery.attr('pointer-events','none')},200);

	                    buttonsQuery.each(function(i,elem) {
	                        if (e.currentTarget.dataset.target === `#collapse${i}`) {
	                            $(`button[data-target="#collapse${i}"]`).blur();
	                            if (!$(`#collapse${i}`).find('hr').length) {
	                                    $(`#collapse${i}`).append(`<hr/>`);
	                            }
	                            // try {
		                            // if ($(`button[data-target="#collapse${i}"]`).attr('aria-expanded') === 'false') {
		                            // if ($(`button[data-target="#collapse${i}"]`).hasClass('collapsed')) {
		                                // $(`button[data-target="#collapse${i}"]`).attr('class','btn btn-outline-danger');
		                            $(`#collapse${i}`).on('show.bs.collapse',function() {
		                            	$(`button[data-target="#collapse${i}"]`).css('border','1px solid white');
		                                $(`button[data-target="#collapse${i}"]`).css('background','rgba(153,0,0,1)');
		                                $(`button[data-target="#collapse${i}"]`).css('color','white');
		                            });

		                            $(`#collapse${i}`).on('shown.bs.collapse',function() {
		                                	$(`button[data-target="#collapse${i}"]`).css('border','1px solid white');
			                                $(`button[data-target="#collapse${i}"]`).css('background','rgba(153,0,0,1)');
			                                $(`button[data-target="#collapse${i}"]`).css('color','white');
		                                });

		                                
		                                
		                                
		                                
		                            // } else {
		                                // $(`button[data-target="#collapse${i}"]`).attr('class','btn btn-danger');
		                            $(`#collapse${i}`).on('hide.bs.collapse',function() {
		                            	$(`button[data-target="#collapse${i}"]`).css('background','white');
		                                $(`button[data-target="#collapse${i}"]`).css('border','1px solid white');
		                                $(`button[data-target="#collapse${i}"]`).css('color','#D62929');
		                            });
		                                
	                                $(`#collapse${i}`).on('hidden.bs.collapse',function() {
	                                	$(`button[data-target="#collapse${i}"]`).css('background','white');
		                                $(`button[data-target="#collapse${i}"]`).css('border','1px solid white');
		                                $(`button[data-target="#collapse${i}"]`).css('color','#D62929');
	                                });
		                                
		                            // }
		                  //       } catch (error) {
				               	// 	console.log(error);
				                // }
	                        } 

	                    });
	                    
	                });




                // }
            	





                


            })

            



        </script>



	</body>
</html>