<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    	<meta name="'viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    	
    	<title>WesCourse</title>

    	<link rel="stylesheet" type="text/css" href="/css/createUser.css">

    	<!-- Bootstrap CSS -->
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    	<!-- Font Awesome -->
    	<script src="https://use.fontawesome.com/b6a42b064c.js"></script>

    	<!-- Google Fonts -->
    	<link href="https://fonts.googleapis.com/css?family=Bree+Serif|Anton|Cormorant+Garamond|Indie+Flower|Merriweather|Ubuntu|Josefin+Sans" rel="stylesheet">

    	<!-- Semantic UI CSS -->
    	<link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
	</head>
	<body>
    

		<!-- NavBar -->
    	<nav class="navbar navbar-toggleable-md navbar-light navbar-inverse bg-inverse fixed-top">
		    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarContents" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		    </button>
        <div>
    		  <a class="navbar-brand" href="http://www.wesleyan.edu/">
    		  		<p id="wes">Wesleyan</p>
    		  		<p id="uni">University</p>
    		  </a>
        </div>

  		  <div class="collapse navbar-collapse" id="navbarContents">
  		    <ul class="navbar-nav mr-auto">
  		      <li class="nav-item">
  		        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
  		      </li>
  		      <li class="nav-item">
  		        <a class="nav-link" href="/catalog">Catalog</a>
  		      </li>
  		      <li class="nav-item">
  		        <a class="nav-link" href="/about">About</a>
  		      </li>
                <li class="nav-item">
                  <a class="nav-link" href="/search">Search</a>
                </li>
  		    </ul>
              <ul class="navbar-nav justify-content-end">
                  <li class="nav-item">
                      <a class="nav-link" href="/login">Sign In</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/logout">Sign Out</a>
                  </li>
                  
                  <li class="nav-item">
                      <a class="nav-link" href="/createUser">Create An Account</a>
                  </li>
              </ul>

              
  		  </div>
  		</nav>
		

      <div class="container enter-box">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#login" role="tab">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#createUser" role="tab">Create An Account</a>
          </li>
        </ul>
        
        <div class="container tab-content-outside">
          <div class="tab-content">
            <div class="tab-pane" id="login" role="tabpanel">
              <!-- <form class="login" action="/loggingIn" method="POST"> -->
                  <!-- <div class="form-group">
                      <label for="inputEmail1" class="col-form-label">Email</label>
                      <input type="email" class="form-control" name="email" id="inputEmail1" placeholder="Enter your email" autocomplete="off">
                  </div>
                  <div class="form-group">
                      <label for="inputPassword1" class=" col-form-label">Password</label>
                      <input type="password" class="form-control" name="password" id="inputPassword1" placeholder="Enter your password" autocomplete="off">
                  </div>
                  <div class="form-group">
                      <div class="d-flex justify-content-center buttons">
                          <button type="submit" class="btn btn-primary">Sign In</button>
                      </div>
                  </div> -->

              <form class="login" action="login/auth/google" method="GET">
                <div class="form-group">
                  <div class="d-flex justify-content-center buttons">
                    <button class="loginBtn loginBtn--google">Login with Google</button>  
                  </div>
                </div>
                  
              </form>
            </div>
            <div class="tab-pane" id="createUser" role="tabpanel">
              <!-- <form class="createUser" action="/submitUser" method="POST"> -->
                  <!-- <div class="form-group">
                      <label for="inputUsername1" class="col-form-label">Username</label>
                      <input type="text" class="form-control" name="username" id="inputUsername1" placeholder="Enter your username" autocomplete="off">
                  </div>
                  <div class="form-group">
                      <label for="inputEmail2" class="col-form-label">Email</label>
                      <input type="email" class="form-control" name="email" id="inputEmail2" placeholder="Enter your email" autocomplete="off">
                  </div>
                  <div class="form-group ">
                      <label for="inputPassword2" class=" col-form-label">Password</label>
                      <input type="password" class="form-control" name="password" id="inputPassword2" placeholder="Enter your password" autocomplete="off">
                  </div>
                  <div class="form-group ">
                      <label for="inputPassword3" class=" col-form-label">Confirm Password</label>
                      <input type="password" class="form-control" name="rePassword" id="inputPassword3" placeholder="Re-type your Password" autocomplete="off">
                  </div>
                  <div class="form-group">
                      <div class="d-flex justify-content-center buttons">
                          <button type="submit" class="btn btn-primary">Create Account</button>
                      </div>
                  </div> -->

              <!-- </form> -->

              <form class="createUser" action="createUser/auth/google" method="GET">
                <div class="form-group username">
                  <label for="inputUsername1" class="col-form-label">Username</label>
                  <input type="text" class="form-control" name="username" id="inputUsername1" placeholder="Enter your username" autocomplete="off" maxlength="30"/>
                  <label id="inputUsername1-err" class="errors inputUsername1-err" for="inputUsername1" style="display: none;"></label>
                </div>
                <div class="form-group">
                  <div class="d-flex justify-content-center buttons">
                    <button class="loginBtn loginBtn--google">Login with Google</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
            
          
          
        
        
      </div>

  		<!-- JQuery -->
    	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

  		<!-- Semantics UI JavaScript -->
  		<script src="/semantic/dist/semantic.min.js"></script>	    

    	<!-- Bootstrap 4 JavaScript -->
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

      <!-- jQuery Validate -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>

      <!-- jQuery UI -->
      <script type="text/javascript" src="https://code.jquery.com/ui/1.8.23/jquery-ui.min.js"></script>

      <script>
        // Access Logic
        $(document).ready(function() {
          if (window.location.pathname === "/createUser") {
            $('a[href="#createUser"]').addClass('active');
            $('.tab-content-outside .tab-content #createUser').addClass('active');
          } else {
            $('a[href="#login"]').addClass('active');
            $('.tab-content-outside .tab-content #login').addClass('active');
          }
        });

        // Username Unique Validator
        $('#inputUsername1').on('input',function(e) {
          $.ajax({
              url: '/checkUsername',
              method: 'POST',
              data: {
                username: $('#inputUsername1').val()
              },
              success: function(isUnique) {
                  // console.log(isUnique);
                  $('#inputUsername1-err').show();
                  if (isUnique === "noInput") {
                      $('.createUser button.loginBtn.loginBtn--google').prop('disabled',true);
                      $('.createUser button.loginBtn.loginBtn--google').css('opacity','.3');
                      // e.preventDefault(e);
                      $('#inputUsername1-err').switchClass('inputUsername1-success','inputUsername1-err',0);
                      $('#inputUsername1-err').text('You must enter a username you desire');
                  }

                  if (!isUnique) {
                      $('.createUser button.loginBtn.loginBtn--google').prop('disabled',true);
                      $('.createUser button.loginBtn.loginBtn--google').css('opacity','.3');
                      // e.preventDefault(e);
                      $('#inputUsername1-err').switchClass('inputUsername1-success','inputUsername1-err',0);
                      $('#inputUsername1-err').text("Username already exists");
                  } else if (isUnique === true) {
                      $('.createUser button.loginBtn.loginBtn--google').prop('disabled',false);
                      $('.createUser button.loginBtn.loginBtn--google').css('opacity','1');
                      $('#inputUsername1-err').switchClass('inputUsername1-err','inputUsername1-success',0);
                      $('#inputUsername1-err').text(`${$('#inputUsername1').val()} works!`);
                  }
              }
            })
        })

        $('.createUser').submit(function(e) {
          console.log($('#inputUsername1').val().trim().length);
          if ($('#inputUsername1').val().trim().length === 0) {
            $('#inputUsername1-err').show();
            $('#inputUsername1-err').prop('disabled',true);
            $('.createUser button.loginBtn.loginBtn--google').css('opacity','.3');
            $('#inputUsername1-err').switchClass('inputUsername1-success','inputUsername1-err',0);
            $('#inputUsername1-err').text('You must enter a username you desire');
            e.preventDefault(e);
            
          }
        })


        var elem = `<label id="inputUsername1-error" class="error" for="inputUsername1" style="">Username already exists</label>`;

        // Validator Rule Creators
        // jQuery.validator.addMethod('username-check',function(value,element) {
        //   var check;
        //   $.ajax({
        //     url: '/checkUsername',
        //     method: 'POST',
        //     data: {
        //       username: value
        //     },
        //     success: function(isUnique) {
        //         check = isUnique;
        //         return;
        //     }
        //   })
        //   return check;
        // });

        // Main Validators
        // $('form.createUser').validate({
        //   rules: {
        //     email: 'required',
        //     username: 'required',
        //     password: 'required',
        //     rePassword: 'required'
        //   },
        //   messages: {
        //     email: 'You must enter a Wesleyan email',
        //     username: 'You must enter a username you desire',
        //     password: 'You must enter a password',
        //     rePassword: 'You must enter a password above'
        //   }
        // });

        // $('form.login').validate({
        //   rules: {
        //     email: 'required',
        //     password: 'required'
        //   },
        //   messages: {
        //     email: 'You must enter a Wesleyan email',
        //     password: 'You must enter a password'
        //   }
        // });

      </script>
	</body>
</html>
	