<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    	<meta name="'viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    	
    	<title>WesCourse</title>

    	<link rel="stylesheet" type="text/css" href="css/createUser.css">

    	<!-- Bootstrap CSS -->
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    	<!-- Font Awesome -->
    	<script src="https://use.fontawesome.com/b6a42b064c.js"></script>

    	<!-- Google Fonts -->
    	<link href="https://fonts.googleapis.com/css?family=Bree+Serif|Anton|Cormorant+Garamond|Indie+Flower|Merriweather|Ubuntu|Josefin+Sans" rel="stylesheet">

    	<!-- Semantic UI CSS -->
    	<link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
	</head>
	<body>

		<!-- NavBar -->
    	<nav class="navbar navbar-toggleable-md navbar-light navbar-inverse bg-inverse fixed-top">
		    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarContents" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		    </button>
        <div>
    		  <a class="navbar-brand" href="http://www.wesleyan.edu/">
    		  		<p id="wes">Wesleyan</p>
    		  		<p id="uni">University</p>
    		  </a>
        </div>

  		  <div class="collapse navbar-collapse" id="navbarContents">
  		    <ul class="navbar-nav mr-auto">
  		      <li class="nav-item">
  		        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
  		      </li>
  		      <li class="nav-item">
  		        <a class="nav-link" href="/catalog">Catalog</a>
  		      </li>
  		      <li class="nav-item">
  		        <a class="nav-link" href="/about">About</a>
  		      </li>
                <li class="nav-item">
                  <a class="nav-link" href="/search">Search</a>
                </li>
  		    </ul>
              <ul class="navbar-nav justify-content-end">
                  <li class="nav-item">
                      <a class="nav-link" href="/login">Login</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/logout">LogOut</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/createUser">Create An Account</a>
                  </li>
              </ul>

              
  		  </div>
  		</nav>
		



		<!-- JQuery -->
      	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

  		<!-- Semantics UI JavaScript -->
  		<script src="/semantic/dist/semantic.min.js"></script>	    

    	<!-- Bootstrap 4 JavaScript -->
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	</body>
</html>
	