<!DOCTYPE html>
<html>
    <head>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
      <html lang="en">
    	
    	<title>WesCourse</title>

    	<!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Anton|Cormorant+Garamond|Indie+Flower|Merriweather|Ubuntu|Josefin+Sans" rel="stylesheet">

    	<!-- Bootstrap CSS -->
    	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css">

      <!-- Foundation CSS -->
      <!-- <link rel="stylesheet" type="text/css" href="/foundation/css/foundation.css"> -->

    	<!-- Font Awesome -->
    	<script src="https://use.fontawesome.com/b6a42b064c.js"></script>    	

      <!-- Custom CSS -->
      <link rel="stylesheet" type="text/css" href="/css/container.css">
      <link rel="stylesheet" type="text/css" href="/css/navbar.css">
      <!-- <link rel="stylesheet" type="text/css" href="/css/menu-hover-lines.css"> -->

    </head>

    <body>

    	






      <div class="container">

        <!-- NavBar -->
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="http://www.wesleyan.edu/">
                <img class="Brand" src="https://upload.wikimedia.org/wikipedia/en/thumb/3/31/Wesleyan_University_Shield.svg/917px-Wesleyan_University_Shield.svg.png" width="40" height="40" />
              </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/catalog">Catalog</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/search">Search</a>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <% if (!userLoggedIn) { %>
                  <li class="nav-item">
                      <a class="nav-link" href="/login">Sign In</a>
                  </li>
                <% } else { %>
                  <li class="nav-item profile-button">
                      <a class="nav-link" href="/profile">
                        <div class="user-image">
                          <img class="user-image" src="<%= image %>"/>
                        </div>
                        <p><%= username %></p>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/logout">Sign Out</a>
                  </li>
                <% } %>
                <% if (!userLoggedIn) { %>
                  <li class="nav-item">
                      <a class="nav-link" href="/createUser">Create Account</a>
                  </li>
                <% } %>
                <form class="navbar-form navbar-right" method="POST" action="/search/query/1/1">
                  <label class="sr-only" for="search-keyword"></label>
                  <div class="form-group">
                      <input type="text" class="form-control" spellcheck="false" autocomplete="off" name="searchParam" id="search-keyword" placeholder="Search any keywords...">
                      <button type="submit" class="btn">Search</button>    
                  </div>
              </form>
              </ul>

            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>

        <!-- Title -->
        <div class="header">
          <p class="">WesCourse</p>
        </div>
      </div>


    	<!-- Header -->


  		<!-- Search Bar -->
      <!-- <form class="form" method="POST" action="/search/query/1/1">
          <label class="sr-only" for="search-keyword"></label>
          <div class="input-group">
              <input type="text" class="form-control search-keyword" spellcheck="false" autocomplete="off" name="searchParam" id="search-keyword" placeholder="Search any keywords...">
              <span class="input-group-btn">
                  <button type="submit" class="btn btn-danger">Search</button>    
              </span>
          </div>
      </form> -->
      <!-- <div class="courses-group" id="courses-group">
          <div class="list-group inside-courses-group" id="inside-courses-group"></div>
      </div> -->
    </div>


      <!-- JQuery -->
      <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    

    	<!-- Bootstrap JavaScript -->
    	<script src="/bootstrap/js/bootstrap.js"></script>

      <!-- JQuery UI -->
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

      <!-- Event Handlers -->
      <script>
          $(document).ready(function() {
              // Current Page Navigation Indication Event Handler
              $('.navbar-nav .nav-item').each(function(val,elem) {
                  navItem = $(this).find('a').attr('href').toLowerCase();
                  currentLocation = window.location.pathname;
                  if (navItem === currentLocation) {
                    console.log(navItem);
                    console.log(currentLocation);

                    $(this).addClass('active');
                  };
              });

              // Prevent Empty Input Submittion Event Handler
              $('.navbar-form').submit(function(e) {
                  if ($('.navbar-form .form-control').val() !== "") {
                      console.log($('.navbar-form .form-control').val());
                      $.ajax({
                          url: `/search/query/1/1/${$('.navbar-form .form-control').val()}`,
                          type: "GET"
                      })
                  } else {
                      e.preventDefault(e);
                  };
              });

              // Placeholder Disappear When Input Clicked Event Handler
              $('.navbar-form .form-control').on('focus',function() {
                $(this).attr('placeholder','');
              });

              $('.navbar-form .form-control').on('focusout',function() {
                $(this).attr('placeholder','Search any keyword...');
              });

              // Navigation Bar Appear Effect
              $('.navbar-default').fadeIn(1000,function() {
                $('.header').fadeIn(1000,function() {});
              });
          })
          
          

          

          

          

      </script>
    </body>

    
</html>