<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="'viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="google-signin-client_id" content="277763886590-097le00059nkdkt4dcv1pif6oirf955k.apps.googleusercontent.com">
        
        <title>WesCourse</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

        <!-- Font Awesome -->
        <script src="https://use.fontawesome.com/b6a42b064c.js"></script>

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Roboto|Anton|Cormorant+Garamond|Indie+Flower|Merriweather|Ubuntu|Josefin+Sans" rel="stylesheet">

        <!-- Semantic UI CSS -->
        <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">


        

    </head>
    <body>

        <a href="/auth/google">Sign In with Google</a>


        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

        <!-- Semantics UI JavaScript -->
        <script src="/semantic/dist/semantic.min.js"></script>      

        <!-- Bootstrap 4 JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

        <!-- jQuery Validate -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>

        <!-- Google Platform Library -->
        <script src="https://apis.google.com/js/platform.js" async defer></script>

        <script>
            

            
        </script>
    </body>
</html>