body {
	background: -webkit-linear-gradient(bottom left,#850000,#990000,#c12828,#990000,#850000) fixed !important; /* Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top right,#850000,#990000,#c12828,#990000,#850000) fixed !important; /* Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top right,#850000,#990000,#c12828,#990000,#850000) fixed !important; /* Firefox 3.6 to 15 */
    background: linear-gradient(to top right,#850000,#990000,#c12828,#990000,#850000) fixed !important;
}

.jumbotron {
	background: rgba(0,0,0,0) !important;
	margin-top: 60px !important;
}

li a {
	color: white !important;
	padding-top: 20px !important;
	padding-bottom: 20px !important;
	font-weight: bold;
	font-size: 1.1em;

}

li a:hover {
	color: rgba(255,255,255,.5) !important;
	border-radius: 5px;
	box-shadow: 3px 3px 1px 1px rgba(31, 33, 34, 1) inset !important;
	padding-left: 10px !important;
}

.justify-content-end {
	padding-right: 15px;
}

.main-searchbar {
	margin-top: 5%;
}

.main-searchbar .input {
	width: 700px;
}

.navbar-searchbar {
	padding-top: 10px;
}

.jumbotron h3 {
	color: white;
	width: 300px;
	margin: 0 auto;
	text-align: center;
	border-bottom: 4px solid rgba(153,0,0,1);
	padding-bottom: 10px;
	font-family: 'Anton', sans-serif;
}

.container {
	margin: 0 auto;
	background: none;
	width:100%;
}


.navbar-brand {
	font-family: 'Cormorant Garamond', serif;
	text-align: center;
	padding-right: 5px;
	/*border-right: 3px solid red;*/
}

.navbar-brand:hover {
	color: rgba(255,255,255,.5) !important;
	/*box-shadow: 3px 3px 1px 1px rgba(31, 33, 34, 1) inset !important;*/
	/*padding-left: 5px !important;*/
}

#wes {
	padding-bottom: -5px;
}

#uni {
	margin-top: -30px;
	margin-bottom:-5px;
	padding-top: 10px;
	padding-bottom: 5px;
	font-size: .7em;
}


.catalog-header {
	margin-top: 150px;
	text-align: center;
	font-family: 'Anton', sans-serif;
	font-size: 80px;
	color: white;
}

.categories button {
	color: #D62929;
	border: 1px solid white;
	background: white;
	font-family: 'Merriweather', serif;
	/*font-family: "Ubuntu", sans-serif !important;*/
}


.categories button:hover {
	background: #D62929 !important;
	border: 1px solid white !important;
	color: white !important;
}

.row {
	/*overflow-wrap: break-word !important;*/
	/*word-wrap: break-word !important;*/
	hyphens: auto;
	/*white-space: nowrap !important;*/
}

.category-names,.row a {
	font-family: "Josefin Sans", sans-serif;
	
	white-space: nowrap !important;
}

.row a {
	max-width: 10px;
	font-size: 17px;
}

.row a:hover {
	color: rgba(153,0,0,1) !important;
}




nav img.user-image {
	height: 25px;
	width: 25px;
	border-radius: 50%;
	/*margin-right: 7px;*/
	/*padding-top: -30px;
	padding-bottom: -30px;*/
	/*float: left;*/
	/*position: absolute;*/
	/*padding-bottom: 3px;*/
}

li.nav-item.profile-button p {
	display: inline-block;
	/*padding-top: 1px;*/
}

div.user-image {
	/*padding-bottom: 5px;*/
	/*padding-top: -30px;
	padding-bottom: -30px;*/
	display:inline-block;
	margin-right: 7px;
	/*height: 59px;*/
}