

html { 

}


body {
    
	background: -webkit-linear-gradient(bottom left,#850000,#990000,#c12828,#990000,#850000) fixed !important; /* Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top right,#850000,#990000,#c12828,#990000,#850000) fixed !important; /* Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top right,#850000,#990000,#c12828,#990000,#850000) fixed !important; /* Firefox 3.6 to 15 */
    background: linear-gradient(to top right,#850000,#990000,#c12828,#990000,#850000) fixed !important;
	position: relative;
    
    /*background-color: rgba(0,0,0,.1) !important;*/
}

.jumbotron {
	background-color: black !important;
	margin-top: 60px !important;
}

li a {
	color: white !important;
	padding-top: 20px !important;
	padding-bottom: 20px !important;
	font-weight: bold;
	font-size: 1.1em;

}

li a:hover {
	color: rgba(255,255,255,.5) !important;
	border-radius: 5px;
	box-shadow: 3px 3px 1px 1px rgba(31, 33, 34, 1) inset !important;
	padding-left: 10px !important;
}

.justify-content-end {
	padding-right: 15px;
}

.navbar-brand {
	font-family: 'Cormorant Garamond', serif;
	text-align: center;
	padding-right: 5px;
}

.navbar-brand:hover {
	color: rgba(255,255,255,.5) !important;
}

#wes {
	padding-bottom: -5px;
}

#uni {
	margin-top: -30px;
	margin-bottom: -5px;
	padding-top: 10px;
	padding-bottom: 5px;
	font-size: .7em;
}


body {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

body::after {
  content: "";
  /*background: url("http://newsletter.blogs.wesleyan.edu/files/2012/11/DSC_4361.jpg") no-repeat fixed;*/
  background-size: 100% 100%;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}





.enter-box {
    background: -webkit-linear-gradient(bottom left,#2a2a2b,#3e3e40); /* Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top right,#2a2a2b,#3e3e40); /* Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top right,#2a2a2b,#3e3e40); /* Firefox 3.6 to 15 */
    background: linear-gradient(to top right,#2a2a2b,#3e3e40);
    position: absolute;
    top: 50%;
    transform: translateY(-70%);
    width: 50% !important;
    border-radius: 5px !important;
    color: white;
}


