

html {
	height: 100%;
}

body {
	background: rgba(153,0,0,1) !important;
	padding-bottom: 70% !important;
	position: relative;
}

.jumbotron {
	background-color: black !important;
	margin-top: 60px !important;
}

li a {
	color: white !important;
	padding-top: 20px !important;
	padding-bottom: 20px !important;
	font-weight: bold;
	font-size: 1.1em;

}

li a:hover {
	color: rgba(255,255,255,.5) !important;
	border-radius: 5px;
	box-shadow: 3px 3px 1px 1px rgba(31, 33, 34, 1) inset !important;
	padding-left: 10px !important;
}

.justify-content-end {
	padding-right: 15px;
}

.jumbotron h3 {
	color: white;
	width: 300px;
	margin: 0 auto;
	text-align: center;
	border-bottom: 4px solid rgba(153,0,0,1);
	padding-bottom: 10px;
	font-family: 'Anton', sans-serif;
}



img {
	height: 200px;
	width: 200px;
	margin-top: 4vh;
}

.navbar-brand {
	font-family: 'Cormorant Garamond', serif;
	text-align: center;
	padding-right: 5px;
}

.navbar-brand:hover {
	color: rgba(255,255,255,.5) !important;
}

#wes {
	padding-bottom: -5px;
}

#uni {
	margin-top: -30px;
	margin-bottom: -5px;
	padding-top: 10px;
	padding-bottom: 5px;
	font-size: .7em;
}




.professors {
	vertical-align: text-top;
	text-align: right;
	padding-bottom: 3%;
}

.professors p {
	display: inline-block;
	vertical-align: text-top;
}



.courses-group::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
	-webkit-box-shadow: inset 0 0 6px rgba(153,0,0,1);
}

.courses-group::-webkit-scrollbar {
	background-color: rgba(153,0,0,1);
}

.courses-group::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}


.inside-courses-group a {
	color: black;
	font-family: "Josefin Sans", sans-serif;
	font-weight: bold;
}

.inside-courses-group a:hover {
	color: red;
}

.inside-courses-group .categories {
	font-family: 'Merriweather', serif;
	font-weight: bold;
	font-size: 15px;
	color: white;
	background-color: #D62929;
}


button[type="submit"] {
	background-color: white;
	color: #D62929;
}


button[type="submit"]:hover {
	background-color: #D62929;
	color: white;
}

input#search-keyword:focus {
	box-shadow: 1px 1px 6px red,1px 1px 6px red,1px 1px 6px red,1px 1px 6px red;
	border-color: red !important;
}


form {
	margin: 0 auto;
	width: 90%;
	margin-top: 7%;
}

.courses-group {
	margin: 0 auto !important;
	max-height: 400px;
	overflow-y: scroll;
	position: absolute;
	width: 90%;
	z-index: 10 !important;
	margin-left: 5% !important;
}

.main-searchbar {
	margin-top: 7%;
	position: relative;
	z-index: 10 !important;
	margin: 0 auto !important;
}


#view-all {
	margin: 0 auto;
	font-size: 15px;
}

.inside-courses-group {
	z-index: 10 !important;
	margin: 0 auto;
}