

/* Bootstrap CSS Modification */

/* navbar-default */
.navbar-default {
  /*display: none;*/
  margin: 10px;
  margin-left: 0;
  margin-right: 0;
  margin-top: 50px;
  margin-bottom: 50px;
  /* Modified 
  	 background-color: none;
  	 border-color: none; 
  in bootstrap.css */
}

.navbar-default .navbar-brand {
  color: #777777;
  border-radius: 5px;
  padding-left: 0;
}

.navbar-default .navbar-nav > li > a {
  color: #777777;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.1em;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  /* Modified 
  	 background-color: none;
  in bootstrap.css */
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #0a0a0a;
  background-color: none;
}


/* Weselyan Logo Img */
.navbar-default .navbar-brand img {
  margin-top: -8px;
}


/* Navbar-form Common CSS */
.navbar-form * {
  color: rgb(131,131,131);
  text-align: center;
  font-size: 16px !important;
  font-weight: 500;
}

.navbar-form.navbar-right {
  padding-right: 0;
  padding-left: 0;
}


/* Search Input */
.navbar-form .form-control {
  letter-spacing: .5px;
  border: none !important;
  border-radius: 0;
  border-bottom: 2px solid rgb(221,221,221) !important;
  height: 35px !important;
  padding-top: 5px;
  padding-bottom: 21px;
  margin-top: 3px;
  box-shadow: none;
}

.navbar-form .form-control:focus {
  border-bottom: 2px solid rgb(225,0,0) !important;
}


/* Search Button */
.navbar-form button {
  background-color: transparent;
  margin: 0 auto;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.navbar-form button:hover {
  background-color: rgb(225,0,0);
  color: white;
  transition: .3s all ease;
}


/* Navbar Hover Effect (<a> Underline) */
.navbar-default .navbar-nav li a {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.3s ease 0s;
}

.navbar-default .navbar-nav li a:hover {
  color: black;
}

.navbar-default .navbar-nav li a:before {
  content: "";
  position: absolute;
  margin-left: 5%;
  width: 90%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(225,0,0);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.navbar-default .navbar-nav li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Navigation Current Nav-Item Effect */
.navbar-default .nav-item.active::after {
  content: "";
  position: absolute;
  width: 90%;
  margin-left: 5%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(225,0,0);
}

/* User Image */
nav img.user-image {
  border-radius: 50%;
  border: .5px solid rgb(221,221,221);
}

li.nav-item.profile-button p {
  display: inline;
}


/* User Profile Button */


.navbar-default .nav-item.profile-button::after {
  margin-bottom: 1.7px;
}

.navbar-default .nav-item.active.profile-button a:hover:before {
  visibility: hidden;
}

