

html {
	height: 100%;
	
}

body {
	background: -webkit-linear-gradient(bottom left,#850000,#990000,#c12828,#990000,#850000) fixed !important; /* Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top right,#850000,#990000,#c12828,#990000,#850000) fixed !important; /* Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top right,#850000,#990000,#c12828,#990000,#850000) fixed !important; /* Firefox 3.6 to 15 */
    background: linear-gradient(to top right,#850000,#990000,#c12828,#990000,#850000) fixed !important;
	padding-bottom: 70% !important;
	position: relative;
}

.jumbotron {
	background-color: black !important;
	margin-top: 60px !important;
}

li a {
	color: white !important;
	padding-top: 20px !important;
	padding-bottom: 20px !important;
	font-weight: bold;
	font-size: 1.1em;

}

li a:hover {
	color: rgba(255,255,255,.5) !important;
	border-radius: 5px;
	box-shadow: 3px 3px 1px 1px rgba(31, 33, 34, 1) inset !important;
	padding-left: 10px !important;
}

.justify-content-end {
	padding-right: 15px;
}

.jumbotron h3 {
	color: white;
	width: 300px;
	margin: 0 auto;
	text-align: center;
	border-bottom: 4px solid rgba(153,0,0,1);
	padding-bottom: 10px;
	font-family: 'Anton', sans-serif;
}



.jumbotron img {
	height: 200px;
	width: 200px;
	margin-top: 4vh;
}

.navbar-brand {
	font-family: 'Cormorant Garamond', serif;
	text-align: center;
	padding-right: 5px;
}

.navbar-brand:hover {
	color: rgba(255,255,255,.5) !important;
}

#wes {
	padding-bottom: -5px;
}

#uni {
	margin-top: -30px;
	margin-bottom: -5px;
	padding-top: 10px;
	padding-bottom: 5px;
	font-size: .7em;
}





.profile {
	font-family: 'Merriweather', serif !important;
	background-color: white;
	margin-top: 250px;
	border-radius: .25rem;
    padding: 20px;
    border: 10px solid rgb(221,221,221);
    width: 80% !important;
}

.profile .header h1 {
	font-family: 'Merriweather', serif !important;
	padding-left: 10px;
	display: inline-block;
}

.profile .header img {
	border-radius: 50%;
	margin-left: 10px;
}

#header-user-info, #user-info-header-user-info-content {
	/*height: 30px;*/
	border: 1.2px solid rgb(221,221,221);
}

.user-info {
	/*background-color: ; */
	font-family: 'Merriweather', serif !important;
	border-radius: .25rem;
    padding: 20px;
    border: 7px solid rgb(221,221,221);
}

.user-info * {
	padding-left: 10px;
}


.user-info-content {
	font-family: 'Merriweather', serif !important;
	/*font-size: 1rem;*/
	font-weight: normal;
}






nav img {
	height: 25px;
	width: 25px;
	border-radius: 50%;
	margin-right: 7px;
	float:left;
}

