
/* User Info */

.user-info-container {
	font-family: 'Merriweather', serif !important;
	background-color: white;
	margin-top: 100px;
	border-radius: 5px;
    padding: 20px;
    border: 2px solid rgb(221,221,221);
}

.user-info-container .header {
	margin-bottom: -10px;
}


.user-info-container .header h1 {
	font-family: 'Merriweather', serif !important;
	padding-left: 10px;
	display: inline-block;
	font-size: 30px;
	color: rgb(99,99,99);
}

.user-info-container .header img {
	border-radius: 50%;
	margin-left: 10px;
	margin-bottom: 10px;
	width: 50px;
	height: 50px;
	border: 1px solid rgb(221,221,221);
}

#header-user-info {
	border: 1.2px solid rgb(221,221,221);
	background-color: rgb(221,221,221);
}

#user-info-header-user-info-content {
	border: 1.2px solid rgb(221,221,221);
	background-color: rgb(221,221,221);
}


.user-info {
	font-family: 'Merriweather', serif !important;
	border-radius: .25rem;
    padding: 20px;
    margin-left: 15px;
}

.user-info .title-user-info, .user-info ul.list-inline {
	padding-left: 7px;
}

.user-info .title-user-info {
	color: rgb(99,99,99);
}

.user-info-content {
	font-family: 'Merriweather', serif !important;
	font-weight: normal;
	vertical-align: middle !important;
}







.user-image-mod img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	padding-left: 0;
}

.user-image-mod-inside {
	border-radius: 50%;
	height: 150px;
	width: 150px;
	padding: 10px;
	border: 7px solid rgb(221,221,221);
	margin: 0 auto;
}



.upload-options, .updateToCustomImg-options, .updateToGoogleImg-options {
	margin: 0 auto;
	display: none;
}





.img-mod-buttons {
	margin-top: 30px;
}



/* Image Input */

.btn-file {
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}




/* Modal Image Preview */

.image-preview div.row div.col-xs-12 div.user-image-mod-inside img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	padding-left: 0;
	border: none;
}




/* Ratings List */

.ratings-header h2 {
	
	padding: 10px;
	padding-left: 15px;
}









/* Comments */

div.comments-content-cont pre {
	background-color: transparent !important;
	border: 1.3px solid rgb(221,221,221);
	color: rgb(99,99,99);
	height: 180px;
	max-height: 180px;
	overflow-y: auto;
}



/* Button Group */

div[aria-label="buttons-group"] {
	margin-bottom: 100px;
}

div.btn-group > div.btn-group > button {
	color: rgb(119,119,119);
}


div.btn-group > div.btn-group > button:focus,
div.btn-group > div.btn-group > button:hover {
	background-color: rgb(217, 83, 79);
	color: white;
}


/* Likes */

div.like-group > h3 {
	display: inline-block !important;
}

div.like-group > h3 > a {
	padding-right: 7px !important;
}

@media (max-width: 991px) {
	div.created-at.text-right {
		text-align: left;
	}
}

div.like-group > h3 > a.liked {
	color: rgb(225,0,0);
}

div.like-group > h3 > a.unliked,
div.like-group > h3 > a.unliked:focus {
	color: rgb(119,119,119);
}

div.like-group > h3 > a.unliked:hover {
	color: rgb(225,0,0);
}


/* Key Group */

div.key-group {
	border: 1px solid rgb(139,139,139);
	margin-right: 3px;
	margin-left: 3px;
	margin-bottom: 15px;
	border-radius: 5px;
}

div.key-group p.keys {
	font-size: 25px;
	color: rgb(119,119,119);
	padding-top: 10px;
	padding-bottom: 10px;
}

div.key-group p.keys span.indicator-red {
	color: rgb(217, 83, 79);
}
div.key-group p.keys span.indicator-yellow {
	color: rgb(240, 173, 78);
}
div.key-group p.keys span.indicator-blue {
	color: rgb(2, 117, 216);
}
div.key-group p.keys span.indicator-lightBlue {
	color: rgb(91, 192, 222);
}
div.key-group p.keys span.indicator-green {
	color: rgb(92, 184, 92);
}



/* Submitted Ratings */

div.submitted-ratings div.panel-heading > div.row > div > h3.username,
div.submitted-ratings div.panel-heading > div.row > div.created-at > h3 {
	color: rgb(99,99,99) !important;
}