


html {
    height: 100%;
}

body {
    background: -webkit-linear-gradient(bottom left,#850000,#990000,#c12828,#990000,#850000) fixed !important; /* Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top right,#850000,#990000,#c12828,#990000,#850000) fixed !important; /* Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top right,#850000,#990000,#c12828,#990000,#850000) fixed !important; /* Firefox 3.6 to 15 */
    background: linear-gradient(to top right,#850000,#990000,#c12828,#990000,#850000) fixed !important;
    position: relative;
}

.jumbotron {
    background-color: black !important;
    margin-top: 60px !important;
}

.nav-item a {
    color: white !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    font-weight: bold;
    font-size: 1.1em;
}

.nav-item a:hover {
    color: rgba(255,255,255,.5) !important;
    border-radius: 5px;
    box-shadow: 3px 3px 1px 1px rgba(31, 33, 34, 1) inset !important;
    padding-left: 10px !important;
}

.justify-content-end {
    padding-right: 15px;
}

.navbar-brand {
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    padding-right: 5px;
}

.navbar-brand:hover {
    color: rgba(255,255,255,.5) !important;
}

#wes {
    padding-bottom: -5px;
}

#uni {
    margin-top: -30px;
    margin-bottom: -5px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: .7em;
}

.course-header {
    margin: 0 auto;
    margin-top: 90px;
    margin-bottom: 90px;
    color: white;
    width: 95%;

}

.course-header h2, .course-header h6 {
    font-size: 25px !important;
    font-family: 'Anton', sans-serif;
}

.jRate {
    display: inline;
}

.rating-results {
    border: none;
    background:none;
    color: #c12828;
    font-size: 33px;
    width: 48px;
}

.chart-container {
    position:relative; 
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    height:60vh; 
    background: white;
    width: 90%;
    padding: 10px;
    border-radius: 5px !important;
}

h4.card-title span {
    color: rgba(153,0,0,1);
}

#chart-container {
    margin-top: 30px;
}

.container {
    width: 95%;
}

.overall-and-recommend {
    margin: 0 auto;
    background: -webkit-linear-gradient(bottom left,#2a2a2b,#3e3e40); /* Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top right,#2a2a2b,#3e3e40); /* Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top right,#2a2a2b,#3e3e40); /* Firefox 3.6 to 15 */
    background: linear-gradient(to top right,#2a2a2b,#3e3e40);
    width: 60%;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}

.overall-and-recommend .overall {
    margin-right: 5%;
}

.overall-and-recommend .recommend div, .overall-and-recommend p.title {
    display: inline-block;
}

.overall-and-recommend .recommend .up-and-down, .overall-and.recommend .recommend .title {
    display: table-row;
}

.title.p-6 {
    margin-top: 7%;
    margin-bottom: 3%;
}

.up {
    margin-right: 15%;
}

.up-and-down i.fa-thumbs-up {
    margin-right: 3px;
    padding-top: 3px;
}

.up-and-down i.fa-thumbs-down {
    margin-right: 3px;
    padding-top: 5px;
}

.overall,.recommend {
    margin: 0 auto;
}

form.form.card {
    background: -webkit-linear-gradient(bottom left,#2a2a2b,#3e3e40) !important; /* Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top right,#2a2a2b,#3e3e40) !important; /* Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top right,#2a2a2b,#3e3e40) !important; /* Firefox 3.6 to 15 */
    background: linear-gradient(to top right,#2a2a2b,#3e3e40) !important;
    color: white;
}








.anonymous-submit, .recommend-submit {
    display: inline-block;
    border: solid 3px #675f6b;
    border-radius: 10px;
    margin: 20px;
    margin-left: 0;
}


input[type=radio] {
  position: absolute;
  visibility: hidden;
}

label.form-check-label {
  color: #9a929e;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 20px;

}

input[type=radio]:checked + label.form-check-label {
  color: white !important;
  background: #c12828 !important;
  border-radius: 5px;
  border-color: white;
}

label.form-check-label + input[type=radio] + label.form-check-label {
  border-left: solid 3px #675f6b;
}





.click-submit {
    margin: 20px;
}


.category-ratings {
    font-size: 18px;
    margin: 30px;
    margin-left: 20px;
}


.comment-submit {
    font-size: 1.4rem;
    margin: 20px;
}

.comment-submit textarea {
    font-size: 1.2rem;
    background: none;
    border: solid 3px #675f6b; 
}

.comment-submit textarea:focus {
    font-size: 1.2rem;
    background: none;
    border: 3px solid white;
    color: white;
}

.form.card button {
    background: #c12828 !important;
    border: 3px solid white;
    height: 50px !important;
    margin: 20px;
    font-size: 1.3rem;
}

.form.card button:hover {
    background: #850000 !important;
    border: solid 3px #675f6b; 
}








div.rated-ratings .card {
    background: -webkit-linear-gradient(bottom left,#2a2a2b,#3e3e40) !important; /* Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top right,#2a2a2b,#3e3e40) !important; /* Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top right,#2a2a2b,#3e3e40) !important; /* Firefox 3.6 to 15 */
    background: linear-gradient(to top right,#2a2a2b,#3e3e40) !important;
    color: white;
}

div.card > .card-header {
    background: -webkit-linear-gradient(bottom left,#850000,#990000,#c12828,#990000,#850000) fixed !important; /* Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top right,#850000,#990000,#c12828,#990000,#850000) fixed !important; /* Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top right,#850000,#990000,#c12828,#990000,#850000) fixed !important; /* Firefox 3.6 to 15 */
    background: linear-gradient(to top right,#850000,#990000,#c12828,#990000,#850000) fixed !important;
    border: 3px solid white;
}

div.rated-ratings-ratings h3.card-header, div.rated-ratings-comment h3.card-header {
    background: none;
    color: white;
    border-bottom: none;
}

.card-block {
    background: none;
    margin: 1.25rem;
    padding: 0;
    border-radius: 10px;
}

.card-block hr {
    background: white;
    height: 1px;
    margin: 1.25rem;
}





div.rated-ratings-ratings {
    padding-right: 0 !important;
    padding-left: 0 !important;
    border: 3px solid #675f6b;
    border-right: 0;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

div.rated-ratings-comment {
    padding-left: 0 !important;
    padding-right: 0 !important;
    border: 3px solid #675f6b;
    border-left: 3px dashed #675f6b;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

div.rated-ratings-ratings h3.card-header {
    border-right: 0 !important;
}

div.rated-ratings-ratings h3.card-header, div.rated-ratings-comment h3.card-header {
    font-size: 1.1vw;
}

div.rated-ratings-ratings .ratings-inside, div.rated-ratings-comment .comment-inside {
    padding: 20px;
    padding-right: 0;
}

div.rated-ratings-ratings .ratings-inside span, div.rated-ratings-comment .comment-inside span {
    font-size: 1.4vw;
    margin-left: 5px;
}

div.rated-ratings-ratings .ratings-inside h4, div.rated-ratings-comment .comment-inside h4 {
    font-size: 1vw;
    color: white;
}

.overall-and-recommend .overall .overall-rating {
    font-size: 1.4vw;
}











.validation {
    color: red;
}









.page-item a {
    color: black;
}

.page-item a:hover {
    background: rgba(153,0,0,1);
    color: white;
}

.page-item.active .page-link {
    background-color: #d9534f !important;
    color: white !important;
    border: 1px solid white !important;
}

.page-item.active .page-link:hover {
    background-color: rgba(153,0,0,1) !important;
    
}



nav img.user-image {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    /*margin-right: 7px;*/
    /*padding-top: -30px;
    padding-bottom: -30px;*/
    /*float: left;*/
    /*position: absolute;*/
    /*padding-bottom: 3px;*/
}

li.nav-item.profile-button p {
    display: inline-block;
    /*padding-top: 1px;*/
}

div.user-image {
    /*padding-bottom: 5px;*/
    /*padding-top: -30px;
    padding-bottom: -30px;*/
    display:inline-block;
    margin-right: 7px;
    /*height: 59px;*/
}